@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root{
    --main-text-color: rgba(0, 0, 0, 0.8);
    --main-color: #05b993;
}
html{
    font: 112.5%/1.45em georgia,serif;
    box-sizing: border-box;
    font-feature-settings: "kern", "liga", "clig", "calt"
"kern","liga","clig","calt";
    
}

body{
    position: relative;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: var(--main-text-color);
}

.App {
    width: 100%;
 max-width: 1400px;
 margin: auto;
}
.container{
    width: 100%;
    padding:0 35px;
    box-sizing: border-box;
}
.aboutContainer{
    padding:10px;
}
.header{
    padding-top: 20px;
    margin-bottom: 55px;
}
.footer{
    padding:30px 0;
    font-size: 0.75rem;
    columns: gray;
}
img{
    max-width: 100%;
}
.portfolioImg{
    width:100%;
}
.selectedpage{
    border-bottom: 1px solid #05b993;
}

.line{width: 100%;height: 3px;background-color: var(--main-color);}
.contactLine{width: 100%;height: 3px;background-color: var(--main-color);margin-bottom: 55px;}
.header ul{margin:0;padding: 0;}
.header ul li{display: inline;list-style-type: none;margin-right:20px;}
.header ul li a{text-decoration: none; color: gray;}
.header ul li a:hover{color: rgb(77, 77, 77);}
.header ul li .name{
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--main-text-color);
    
}


.linksTab{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-evenly;
}
.linksTab a , .contactdetails li a{
    color: rgb(44 88 217 / 80%);
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.linksTab a img, .contactdetails li a img{
    width: 25px;
    height: 25px;
}

.contactdetails{
    padding: 0;
    margin: 0;
}
.contactdetails li{
    margin-top: 20px;
    list-style-type: none;
    font-weight: 400;
}
.contactdetails li a{
    font-weight: 400;
    color: var(--main-text-color) !important;
}


.portfolioGrid{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 10px;
    box-sizing: border-box;
}
.portfolioGrid div{

}


div{max-width: 100%;}

.contactForm{
    
display: grid;
grid-template-columns: 1fr;
gap: 5px;
}
.contactForm input, .contactForm textarea {
    font-size: 12pt;
    background-color: var(--main-text-color);
    color: aliceblue;
    max-width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}
.form-name{

}
.emailphone{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.form-email{
}
.form-phone{
}
.form-message{
    
}
.form-submit{
    font-weight: bold;
    border: 0px;
    padding: 10px !important;

}

.formresponsestatus{
    color: rgb(13, 104, 1);
}




h1, h2 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}



@media only screen and (max-width:800px) {
    .portfolioGrid{
        grid-template-columns:1fr;
        display: block;
        width: 100%;
    }
    .container{
        padding:0 16px;
       
    }

    .formContainer{
        width: 100%;
        margin-top: 55px;
    }
}
